<h1> Enter your word to find your Scrabble score <h1>
<form action='/word' method='get'>
  <div class="form-group">
  <label for="score"> Your word</label>
  <input id="score" name="score" class="form-control" type="text">
</div>
<button type="submit" class="btn-success">Send</button>
</form>
